*.DS_Store
*.log
*.pyc
*.pyo
*.sqlite?
*.sw?
*.pyc
*.pid
*.sock
*.orig
*.lock
build
dist
ChangeLog
tags
pep8.txt
pylint.txt
reports
.idea
*.iml
dev_settings.py
db.sqlite3
*.log
*.vim
.ropeproject
*_book*
